Package: com.atwiiks.bdayspotify2
Name: BDaySpotify 2
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Current features: Seeking, Choose any song in search and My Music, Unlimited Skips.
Maintainer: ATWiiks & Tony Kraft <iostonykraft@gmail.com>
Author: ATWiiks & Tony Kraft <iostonykraft@gmail.com>
Section: Tweaks
