Package: com.andywiik.bdayspotify
Name: BdaySpotify
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Disable shuffle mode on Spotify and more!
Maintainer: Andy Wiik
Author: Andy Wiik
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 72
