<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
			<key>footerText</key>
			<string>Streaming quality will say 'Automatic' because I override the default bitrate, which is a little hacky but it works.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.tonykraft.bdayprefs</string>
			<key>key</key>
			<string>enableall</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.tonykraft.bdayprefs</string>
			<key>key</key>
			<string>extreme</string>
			<key>label</key>
			<string>Force Extreme Audio</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
			<key>footerText</key>
			<string>© 2015-2016 Andrew Wiik and Tony Kraft</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>label</key>
			<string>Follow Andy on Twitter</string>
			<key>icon</key>
			<string>twitter@2x.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>twitter2</string>
			<key>label</key>
			<string>Follow Tony on Twitter</string>
			<key>icon</key>
			<string>twitter@2x.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>action</key>
			<string>paypal</string>
			<key>label</key>
			<string>Donate</string>
			<key>icon</key>
			<string>paypal@2x.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>BDaySpotify 2</string>
</dict>
</plist>
